{% extends "base.html" %}

{% block title %}Novo Fornecedor{% endblock %}

{% block page_title %}
Novo Fornecedor
{% endblock %}

{% block content %}

<div class="card">

<div class="card-body">

<form method="POST">

<div class="mb-3">

<label class="form-label">Nome</label>

<input
class="form-control"
name="nome"
required>

</div>

<div class="mb-3">

<label class="form-label">Telefone</label>

<input
class="form-control"
name="telefone">

</div>

<div class="mb-3">

<label class="form-label">Email</label>

<input
type="email"
class="form-control"
name="email">

</div>

<div class="mb-3">

<label class="form-label">Cidade</label>

<input
class="form-control"
name="cidade">

</div>

<button class="btn btn-success">

Salvar

</button>

<a href="{{ url_for('fornecedores.listar') }}"
class="btn btn-secondary">

Cancelar

</a>

</form>

</div>

</div>

{% endblock %}
